* {
  font-size: 62.5%; }

body {
  background-color: black; }

/* mixin */
/* mapas */
/* extends */
.containerProductos main h2, .containerProductos .stockPadre div form fieldset legend, .containerNosotros .prendas h3, .containerNosotros .tabla h3, .containerLocales .tituloLocales h2 {
  text-align: center;
  font-style: italic; }

.container .contenido div, .containerProductos main .productos, .footer span, .footer .instagram, .containerLocales .tituloLocales, .containerLocales .nombresLocales .localUno {
  display: flex;
  justify-content: center; }

/* bases */
/* mapas */
/* menu de todos los html */
.nav {
  grid-area: men;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem; }

.nav > ul {
  display: flex;
  list-style-type: none;
  width: 40%;
  justify-content: space-evenly;
  padding-left: 0; }

.nav > ul > li {
  font-size: 1.5rem;
  font-weight: 500;
  color: #d1d1d1; }

.nav > ul > li > a {
  text-decoration: none;
  color: #d1d1d1;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem; }
  .nav > ul > li > a:hover {
    color: white; }

header {
  grid-area: h1;
  display: flex;
  justify-content: center;
  align-items: center; }
  header h1 {
    margin-bottom: 3.5rem; }
    header h1 a {
      text-align: center;
      color: #d1d1d1;
      font-family: 'Roboto', sans-serif;
      font-weight: 800;
      font-size: 8rem;
      text-shadow: -5px -5px 5px #525151, 0px 4px 1px rgba(255, 250, 250, 0.5), 4px 4px 5px rgba(107, 107, 107, 0.7), 0px 0px 7px rgba(155, 155, 155, 0.4);
      letter-spacing: 1.5rem;
      word-spacing: 0.5rem;
      text-decoration: none; }
      header h1 a:hover {
        text-decoration: none;
        color: white; }

/* base*/
/* mixin */
/*grid de index */
.container {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "h1" "men" "carrusel" "imagenes" "contenido" "footer";
  grid-template-rows: auto auto auto auto auto auto;
  /* CARRUSEL */
  /*  IMAGENES */
  /* CONTENIDO */ }
  .container header {
    grid-area: h1; }
  .container nav {
    grid-area: men; }
  .container .containerCarrusel {
    grid-area: carrusel;
    margin: 2rem 3rem; }
    .container .containerCarrusel .carousel-item .imagenesProductosUno {
      width: 25rem;
      height: 35rem; }
  .container .imagenes {
    grid-area: imagenes; }
    .container .imagenes div a {
      display: flex;
      align-items: center;
      justify-content: center; }
      .container .imagenes div a img {
        width: 45%;
        height: 60%; }
  .container .contenido {
    grid-area: contenido; }
    .container .contenido div p {
      font-family: 'Bebas Neue', cursive;
      text-align: center;
      font-size: 3rem;
      color: #d1d1d1;
      margin-top: 3rem; }
    .container .contenido div {
      align-items: center; }
      .container .contenido div .video {
        height: 20rem;
        width: 25rem;
        margin-top: 3rem; }
  .container .footer {
    grid-area: footer; }

/* base*/
/* mapas */
/* extends */
.containerProductos main h2, .containerProductos .stockPadre div form fieldset legend, .containerNosotros .prendas h3, .containerNosotros .tabla h3, .containerLocales .tituloLocales h2 {
  text-align: center;
  font-style: italic; }

.container .contenido div, .containerProductos main .productos, .footer span, .footer .instagram, .containerLocales .tituloLocales, .containerLocales .nombresLocales .localUno {
  display: flex;
  justify-content: center; }

/* mixin */
/* grid de productos + estilos de fuentes*/
.containerProductos {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "h1" "men" "h2" "producto" "stock" "footer";
  grid-template-rows: auto auto auto auto auto auto;
  /* STOCK  */ }
  .containerProductos header {
    grid-area: h1; }
  .containerProductos nav {
    grid-area: men; }
  .containerProductos main h2 {
    grid-area: h2;
    font-size: 6rem;
    color: #d1d1d1;
    font-family: 'Bebas Neue';
    margin-top: 5rem;
    font-weight: 1000; }
  .containerProductos main .productos {
    grid-area: producto;
    column-gap: 10rem;
    margin-top: 2rem; }
    .containerProductos main .productos h3 {
      color: #d1d1d1;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 1000; }
    .containerProductos main .productos img {
      width: 10rem;
      height: 15rem; }
    .containerProductos main .productos p {
      color: #d1d1d1;
      text-align: center;
      font-size: 1rem;
      font-weight: 1000; }
    .containerProductos main .productos .productoUno:hover {
      transform: scale(1.1); }
  .containerProductos .stockPadre {
    grid-area: stock;
    margin-top: 5rem;
    border: 1px white solid;
    margin: 1rem; }
    .containerProductos .stockPadre div form fieldset {
      color: #d1d1d1;
      font-size: 2.5rem;
      font-family: 'Bebas Neue', cursive; }
      .containerProductos .stockPadre div form fieldset .boton {
        margin: 0.5rem;
        padding: 1rem; }
      .containerProductos .stockPadre div form fieldset legend {
        font-size: 2.5rem;
        font-family: 'Bebas Neue', cursive; }
      .containerProductos .stockPadre div form fieldset .stock .label {
        font-size: 1.8rem;
        margin: 1rem; }
      .containerProductos .stockPadre div form fieldset .stock option {
        font-size: 1.5rem; }

/* mixin */
/* extends */
.containerProductos main h2, .containerProductos .stockPadre div form fieldset legend, .containerNosotros .prendas h3, .containerNosotros .tabla h3, .containerLocales .tituloLocales h2 {
  text-align: center;
  font-style: italic; }

.container .contenido div, .containerProductos main .productos, .footer span, .footer .instagram, .containerLocales .tituloLocales, .containerLocales .nombresLocales .localUno {
  display: flex;
  justify-content: center; }

/*FOOTER */
.footer {
  grid-area: footer;
  margin-top: 3rem; }
  .footer span {
    font-size: 1.5rem;
    color: #d1d1d1;
    font-family: 'Bebas Neue', cursive; }
  .footer .instagram {
    align-content: center;
    margin-bottom: 5rem; }
    .footer .instagram img {
      width: 3rem;
      height: 3rem; }
  .footer .itemFixed {
    position: fixed;
    bottom: 0;
    right: 0; }
  .footer .itemFixedDos {
    position: fixed;
    bottom: 0;
    left: 0; }

/* base*/
/* mapas */
/* extends */
.containerProductos main h2, .containerProductos .stockPadre div form fieldset legend, .containerNosotros .prendas h3, .containerNosotros .tabla h3, .containerLocales .tituloLocales h2 {
  text-align: center;
  font-style: italic; }

.container .contenido div, .containerProductos main .productos, .footer span, .footer .instagram, .containerLocales .tituloLocales, .containerLocales .nombresLocales .localUno {
  display: flex;
  justify-content: center; }

/* mixin */
/* NOSOTROS HTML */
.containerNosotros {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "h1" "men" "about" "prendas" "tabla" "footer";
  grid-template-rows: auto auto auto auto auto auto;
  /* NUESTRAS PRENDAS */
  /* TABLA DE TALLES */ }
  .containerNosotros header {
    grid-area: h1; }
  .containerNosotros nav {
    grid-area: men; }
  .containerNosotros .aboutUsUno {
    grid-area: about;
    padding: 6rem; }
    .containerNosotros .aboutUsUno p {
      text-align: center;
      font-size: 1.5rem;
      color: #d1d1d1;
      font-family: 'Bebas Neue', cursive; }
    .containerNosotros .aboutUsUno h2 {
      text-align: center;
      font-size: 6.5rem;
      font-weight: 1000;
      color: #d1d1d1;
      font-style: italic;
      font-family: 'Bebas Neue', cursive;
      margin-bottom: 3rem; }
    .containerNosotros .aboutUsUno p span {
      font-size: 2rem;
      font-weight: bolder;
      font-family: 'Bebas Neue', cursive; }
  .containerNosotros .prendas {
    grid-area: prendas;
    padding: 6rem; }
    .containerNosotros .prendas h3 {
      font-size: 3rem;
      color: #d1d1d1;
      font-family: 'Bebas Neue', cursive;
      margin-top: 5rem; }
    .containerNosotros .prendas p {
      text-align: center;
      font-size: 2rem;
      color: #d1d1d1;
      font-family: 'Bebas Neue', cursive; }
  .containerNosotros .tabla {
    grid-area: tabla;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .containerNosotros .tabla h3 {
      font-size: 3rem;
      color: #d1d1d1;
      font-family: 'Bebas Neue', cursive;
      margin-top: 5rem;
      margin-bottom: 3rem; }
    .containerNosotros .tabla img {
      width: 40%;
      height: 50%; }

/* base*/
/* extends */
.containerProductos main h2, .containerProductos .stockPadre div form fieldset legend, .containerNosotros .prendas h3, .containerNosotros .tabla h3, .containerLocales .tituloLocales h2 {
  text-align: center;
  font-style: italic; }

.container .contenido div, .containerProductos main .productos, .footer span, .footer .instagram, .containerLocales .tituloLocales, .containerLocales .nombresLocales .localUno {
  display: flex;
  justify-content: center; }

/* mixin */
/*LOCALES HTML */
.containerLocales {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "h1" "men" "h2" "locales" "footer";
  grid-template-rows: auto auto auto auto auto; }
  .containerLocales header {
    grid-area: h1; }
  .containerLocales nav {
    grid-area: men; }
  .containerLocales .tituloLocales {
    grid-area: h2;
    align-items: center;
    flex-direction: column;
    font-weight: 1000;
    font-style: italic; }
    .containerLocales .tituloLocales h2 {
      font-size: 6.5rem;
      color: #d1d1d1;
      font-family: 'Bebas Neue';
      margin: 3rem 3rem;
      font-weight: 1000; }
    .containerLocales .tituloLocales img {
      width: 5rem;
      height: 5rem; }
  .containerLocales .nombresLocales {
    grid-area: locales; }
    .containerLocales .nombresLocales .localUno {
      align-items: center;
      flex-direction: column; }
      .containerLocales .nombresLocales .localUno p {
        text-align: center;
        font-size: 1.8rem;
        color: #d1d1d1;
        margin-top: 3rem;
        font-family: 'Bebas Neue', cursive; }
      .containerLocales .nombresLocales .localUno .mapa {
        height: 20rem;
        width: 25rem;
        margin-top: 3rem; }

/* base*/
/* mapas */
/* FAQS */
.containerFaqs {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "h1" "men" "titulo" "pregunta1" "pregunta2" "footer";
  grid-template-rows: auto auto auto auto auto auto; }
  .containerFaqs header {
    grid-area: h1; }
  .containerFaqs nav {
    grid-area: men; }
  .containerFaqs .faqsPrincipal .faqs {
    grid-area: titulo;
    text-align: center;
    font-size: 6.5rem;
    font-weight: 1000;
    color: #d1d1d1;
    font-style: italic; }
    .containerFaqs .faqsPrincipal .faqs h2 {
      font-size: 6.5rem;
      font-family: 'Bebas Neue', cursive;
      margin-bottom: 3rem; }
  .containerFaqs .faqsPrincipal .faqsContainer {
    grid-area: pregunta1;
    padding: 5rem; }
    .containerFaqs .faqsPrincipal .faqsContainer .faqsPregunta {
      text-align: center;
      font-size: 3rem;
      font-weight: 1000;
      color: #d1d1d1;
      margin-bottom: 2rem;
      font-family: 'Bebas Neue', cursive; }
    .containerFaqs .faqsPrincipal .faqsContainer .faqsUno {
      text-align: center;
      font-size: 1.8rem;
      color: #d1d1d1;
      font-family: 'Bebas Neue', cursive;
      margin-bottom: 3rem; }
  .containerFaqs .faqsPrincipal .faqsDos {
    grid-area: pregunta2;
    padding: 5rem; }
    .containerFaqs .faqsPrincipal .faqsDos .faqsPolicy {
      text-align: center;
      font-size: 3rem;
      font-weight: 1000;
      color: #d1d1d1;
      margin-bottom: 2rem;
      font-family: 'Bebas Neue', cursive; }
    .containerFaqs .faqsPrincipal .faqsDos .faqsParrafo {
      text-align: center;
      font-size: 1.8rem;
      color: #d1d1d1;
      font-family: 'Bebas Neue', cursive;
      margin-top: 3rem; }

/* mapas */
/* mediaqueries */
/* mediaqueries celular */
@media screen and (max-width: 360px) {
  /* menu/ index mediaqueries  */
  .container header h1 a {
    font-size: 7rem; }
  .container .nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center; }
  .container .nav > ul {
    width: 100%; }
  .container .nav > ul > li > a {
    margin: 1rem; }
  .container .containerCarrusel .carrusel {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
  /* NOSOTROS HTML MEDIAQUERIES */
  .containerNosotros header h1 a {
    font-size: 7rem; }
  .containerNosotros .nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center; }
  .containerNosotros .nav > ul {
    width: 100%; }
  .containerNosotros .nav > ul > li > a {
    margin: 1rem; }
  .containerNosotros .aboutUsPrincipal .aboutUsUno {
    padding: 0%; }
    .containerNosotros .aboutUsPrincipal .aboutUsUno .aboutUs {
      font-size: 4rem;
      margin-top: 2.5rem; }
    .containerNosotros .aboutUsPrincipal .aboutUsUno .parrafoNosotros {
      font-size: 1rem;
      text-align: center;
      font-weight: 600;
      width: 90%;
      margin-left: 1rem; }
      .containerNosotros .aboutUsPrincipal .aboutUsUno .parrafoNosotros span {
        font-size: 1.2rem; }
  .containerNosotros .aboutUsPrincipal .prendas h3 {
    font-size: 3.5rem; }
  .containerNosotros .aboutUsPrincipal .prendas p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    width: 90%;
    margin: 1rem; }
  .containerNosotros .aboutUsPrincipal .tabla h3 {
    font-size: 3.5rem; }
  .containerNosotros .aboutUsPrincipal .tabla img {
    width: 80%;
    height: 80%; }
  /* PRODUCTOS MEDIAQUERIES */
  .containerProductos header h1 a {
    font-size: 7rem; }
  .containerProductos .nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center; }
  .containerProductos .nav > ul {
    width: 100%; }
  .containerProductos .nav > ul > li > a {
    margin: 12rem; }
  .containerProductos main h2 {
    font-size: 4rem;
    text-align: center; }
  .containerProductos main .rowProductos {
    flex-flow: column wrap;
    align-items: center;
    justify-content: center; }
  .containerProductos .stockPadre {
    display: flex;
    justify-self: center;
    width: 80%; }
  /* LOCALES MEDIAQUERIES */
  .containerLocales header h1 a {
    font-size: 7rem; }
  .containerLocales .nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center; }
  .containerLocales .nav > ul {
    width: 100%; }
  .containerLocales .nav > ul > li > a {
    margin: 1rem; }
  .containerLocales .localesPrincipales .tituloLocales h2 {
    font-size: 4.5rem; }
  .containerLocales .localesPrincipales .nombresLocales .localUno p {
    font-size: 2.8rem; }
  /* FAQS MEDIAQUERIES */
  .containerFaqs header h1 a {
    font-size: 7rem; }
  .containerFaqs .nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center; }
  .containerFaqs .nav > ul {
    width: 100%; }
  .containerFaqs .nav > ul > li > a {
    margin: 1rem; }
  .containerFaqs .nav span a {
    font-size: 3rem; }
  .containerFaqs .faqsPrincipal .faqs h2 {
    font-size: 5.5rem; }
  .containerFaqs .faqsPrincipal .faqsContainer .faqsPregunta {
    font-size: 3.5rem;
    font-style: italic; }
  .containerFaqs .faqsPrincipal .faqsContainer .faqsUno {
    font-size: 1rem; }
  .containerFaqs .faqsPrincipal .faqsDos .faqsPolicy {
    font-size: 5rem;
    font-style: italic; }
  .containerFaqs .faqsPrincipal .faqsDos .faqsParrafo {
    font-size: 1rem; } }

/* mediaqueries tablet */
@media screen and (max-width: 600px) {
  /* MENU/INDEX MEDIAQUERIE TABLET */
  header h1 a {
    font-size: 7rem; }
  .nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center; }
  .nav > ul {
    width: 100%; }
  .nav > ul > li > a {
    margin: 1rem; }
  /* productos */
  .containerProductos main h2 {
    font-size: 4rem;
    text-align: center; }
  .containerProductos main .rowProductos {
    flex-flow: column wrap;
    align-items: center;
    justify-content: center; }
  .containerProductos .stockPadre {
    width: 50%;
    display: flex;
    justify-self: center; } }

/* mediaqueries desktop */
@media screen and (max-width: 990px) {
  header h1 a {
    font-size: 9rem; }
  .nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center; }
  .nav > ul {
    width: 100%;
    justify-content: space-evenly; }
  .nav > ul > li > a {
    margin: 1rem; }
  .nav span a {
    font-size: 3rem; } }
