body {
  background-color: black; }

/* mixin */
/* mapas */
/* extends */
.containerProductos h2, .containerProductos .stockPadre form fieldset legend, .containerNosotros .prendas h3, .containerNosotros .tabla h3, .containerLocales .tituloLocales h2 {
  text-align: center;
  font-style: italic; }

.container .contenido .video, .containerProductos .productos, .footer span, .footer .instagram, .containerLocales .tituloLocales, .containerLocales .nombresLocales .localUno, .subMenu li {
  display: flex;
  justify-content: center; }

header {
  grid-area: h1; }
  header h1 {
    font-weight: 700;
    margin-left: 5vw;
    text-align: center;
    margin-bottom: 5rem; }
    header h1:hover {
      transform: scale(1.2);
      text-decoration: none; }
    header h1 a {
      color: #d1d1d1;
      font-family: 'Roboto', sans-serif;
      font-weight: 800;
      font-size: 7.5rem;
      text-shadow: -5px -5px 5px #525151, 0px 4px 1px rgba(255, 250, 250, 0.5), 4px 4px 5px rgba(107, 107, 107, 0.7), 0px 0px 7px rgba(155, 155, 155, 0.4);
      letter-spacing: 1.5rem;
      word-spacing: 0.5rem;
      text-decoration: none; }

/* base*/
/* mixin */
/*grid de index */
.container {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "h1" "men" "carrusel" "imagenes" "contenido" "footer";
  grid-template-rows: auto auto auto auto auto auto;
  /* CARRUSEL */
  /*  IMAGENES */
  /* CONTENIDO */ }
  .container header {
    grid-area: h1; }
  .container nav {
    grid-area: men; }
  .container .containerCarrusel {
    grid-area: carrusel; }
  .container .carousel-item .imagenesProductosUno {
    width: 35rem;
    height: 35rem; }
  .container .imagenes div {
    grid-area: imagenes;
    display: flex;
    align-items: center; }
    .container .imagenes div img {
      width: 50%;
      height: 60%; }
  .container .contenido {
    grid-area: contenido; }
    .container .contenido p {
      font-family: 'Bebas Neue', cursive;
      text-align: center;
      font-size: 1.5rem;
      color: #d1d1d1;
      margin-top: 3rem; }
    .container .contenido .video {
      margin-top: 3rem; }
      .container .contenido .video video {
        width: 40rem;
        height: 20rem; }

/* base*/
/* mapas */
/* extends */
.containerProductos h2, .containerProductos .stockPadre form fieldset legend, .containerNosotros .prendas h3, .containerNosotros .tabla h3, .containerLocales .tituloLocales h2 {
  text-align: center;
  font-style: italic; }

.container .contenido .video, .containerProductos .productos, .footer span, .footer .instagram, .containerLocales .tituloLocales, .containerLocales .nombresLocales .localUno, .subMenu li {
  display: flex;
  justify-content: center; }

/* mixin */
/* grid de productos + estilos de fuentes*/
.containerProductos {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "h1" "men" "h2" "producto" "stock" "footer";
  grid-template-rows: auto auto auto auto auto auto;
  /* STOCK  */ }
  .containerProductos header {
    grid-area: h1; }
  .containerProductos nav {
    grid-area: men; }
  .containerProductos h2 {
    grid-area: h2;
    font-size: 4.2rem;
    color: #d1d1d1;
    font-family: 'Bebas Neue';
    margin: 5rem;
    font-weight: 1000; }
  .containerProductos .productos {
    grid-area: producto;
    column-gap: 10rem;
    margin: 2rem; }
    .containerProductos .productos h3 {
      color: #d1d1d1;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 1000; }
    .containerProductos .productos img {
      width: 10rem;
      height: 15rem; }
    .containerProductos .productos p {
      color: #d1d1d1;
      text-align: center;
      font-size: 1rem;
      font-weight: 1000; }
  .containerProductos .stockPadre {
    grid-area: stock;
    margin-top: 5rem;
    border: 1px white solid; }
    .containerProductos .stockPadre form fieldset {
      color: #d1d1d1;
      font-size: 2.5rem;
      font-family: 'Bebas Neue', cursive; }
      .containerProductos .stockPadre form fieldset .boton {
        margin: 0.5rem;
        padding: 1rem; }
      .containerProductos .stockPadre form fieldset legend {
        font-size: 2.5rem;
        font-family: 'Bebas Neue', cursive; }

/* mixin */
/* extends */
.containerProductos h2, .containerProductos .stockPadre form fieldset legend, .containerNosotros .prendas h3, .containerNosotros .tabla h3, .containerLocales .tituloLocales h2 {
  text-align: center;
  font-style: italic; }

.container .contenido .video, .containerProductos .productos, .footer span, .footer .instagram, .containerLocales .tituloLocales, .containerLocales .nombresLocales .localUno, .subMenu li {
  display: flex;
  justify-content: center; }

/*FOOTER */
.footer {
  grid-area: footer;
  margin: 2rem; }
  .footer span {
    font-size: 1.2rem;
    color: #d1d1d1;
    font-family: 'Bebas Neue', cursive; }
  .footer .instagram {
    align-content: center;
    margin: 0rem 0rem 5rem 0rem; }
    .footer .instagram img {
      width: 3rem;
      height: 3rem; }
  .footer .itemFixed {
    position: fixed;
    bottom: 0;
    right: 0; }
  .footer .itemFixedDos {
    position: fixed;
    bottom: 0;
    left: 0; }

/* base*/
/* mapas */
/* extends */
.containerProductos h2, .containerProductos .stockPadre form fieldset legend, .containerNosotros .prendas h3, .containerNosotros .tabla h3, .containerLocales .tituloLocales h2 {
  text-align: center;
  font-style: italic; }

.container .contenido .video, .containerProductos .productos, .footer span, .footer .instagram, .containerLocales .tituloLocales, .containerLocales .nombresLocales .localUno, .subMenu li {
  display: flex;
  justify-content: center; }

/* mixin */
/* NOSOTROS HTML */
.containerNosotros {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "h1" "men" "about" "prendas" "tabla" "footer";
  grid-template-rows: auto auto auto auto auto auto;
  /* NUESTRAS PRENDAS */
  /* TABLA DE TALLES */ }
  .containerNosotros header {
    grid-area: h1; }
  .containerNosotros nav {
    grid-area: men; }
  .containerNosotros .aboutUsUno {
    grid-area: about; }
    .containerNosotros .aboutUsUno p {
      text-align: center;
      font-size: 1.5rem;
      color: #d1d1d1;
      font-family: 'Bebas Neue', cursive; }
    .containerNosotros .aboutUsUno h2 {
      text-align: center;
      font-size: 5rem;
      font-weight: 1000;
      color: #d1d1d1;
      font-style: italic;
      font-family: 'Bebas Neue', cursive;
      margin: 5rem; }
    .containerNosotros .aboutUsUno p span {
      font-size: 1.5rem;
      font-weight: bolder;
      font-family: 'Bebas Neue', cursive; }
  .containerNosotros .prendas {
    grid-area: prendas; }
    .containerNosotros .prendas h3 {
      font-size: 3rem;
      color: #d1d1d1;
      font-family: 'Bebas Neue', cursive;
      margin: 5rem; }
    .containerNosotros .prendas p {
      text-align: center;
      font-size: 2rem;
      color: #d1d1d1;
      font-family: 'Bebas Neue', cursive; }
  .containerNosotros .tabla {
    grid-area: tabla;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .containerNosotros .tabla h3 {
      font-size: 3rem;
      color: #d1d1d1;
      font-family: 'Bebas Neue', cursive;
      margin: 5rem; }
    .containerNosotros .tabla img {
      width: 40%;
      height: 50%; }

/* base*/
/* extends */
.containerProductos h2, .containerProductos .stockPadre form fieldset legend, .containerNosotros .prendas h3, .containerNosotros .tabla h3, .containerLocales .tituloLocales h2 {
  text-align: center;
  font-style: italic; }

.container .contenido .video, .containerProductos .productos, .footer span, .footer .instagram, .containerLocales .tituloLocales, .containerLocales .nombresLocales .localUno, .subMenu li {
  display: flex;
  justify-content: center; }

/* mixin */
/*LOCALES HTML */
.containerLocales {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "h1" "men" "h2" "locales" "footer";
  grid-template-rows: auto auto auto auto auto; }
  .containerLocales header {
    grid-area: h1; }
  .containerLocales nav {
    grid-area: men; }
  .containerLocales .tituloLocales {
    grid-area: h2;
    align-items: center;
    flex-direction: column;
    font-weight: 1000;
    font-style: italic; }
    .containerLocales .tituloLocales h2 {
      font-size: 4.5rem;
      color: #d1d1d1;
      font-family: 'Bebas Neue';
      margin: 3rem;
      font-weight: 1000; }
    .containerLocales .tituloLocales img {
      width: 5rem;
      height: 5rem; }
  .containerLocales .nombresLocales {
    grid-area: locales; }
    .containerLocales .nombresLocales p {
      text-align: center;
      font-size: 1.8rem;
      color: #d1d1d1;
      margin: 3rem;
      font-family: 'Bebas Neue', cursive; }
    .containerLocales .nombresLocales .localUno {
      align-items: center;
      flex-direction: column; }

/* base*/
/* mapas */
/* FAQS */
.containerFaqs {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "h1" "men" "titulo" "pregunta1" "pregunta2" "footer";
  grid-template-rows: auto auto auto auto auto auto; }
  .containerFaqs header {
    grid-area: h1; }
  .containerFaqs nav {
    grid-area: men; }
  .containerFaqs .faqs {
    grid-area: titulo;
    text-align: center;
    font-size: 7rem;
    font-weight: 1000;
    color: #d1d1d1;
    font-style: italic; }
  .containerFaqs h2 {
    font-size: 6.5rem;
    font-family: 'Bebas Neue', cursive;
    margin: 3rem; }
  .containerFaqs .faqsContainer {
    grid-area: pregunta1; }
    .containerFaqs .faqsContainer .faqsPregunta {
      text-align: center;
      font-size: 3rem;
      font-weight: 1000;
      color: #d1d1d1;
      margin-bottom: 2rem;
      font-family: 'Bebas Neue', cursive; }
    .containerFaqs .faqsContainer .faqsUno {
      text-align: center;
      font-size: 1.2rem;
      color: #d1d1d1;
      font-family: 'Bebas Neue', cursive;
      margin: 3rem; }
  .containerFaqs .faqsDos {
    grid-area: pregunta2; }
    .containerFaqs .faqsDos .faqsPolicy {
      text-align: center;
      font-size: 3rem;
      font-weight: 1000;
      color: #d1d1d1;
      margin-bottom: 2rem;
      font-family: 'Bebas Neue', cursive; }
    .containerFaqs .faqsDos .faqsParrafo {
      text-align: center;
      font-size: 1.2rem;
      color: #d1d1d1;
      font-family: 'Bebas Neue', cursive;
      margin: 3rem; }

/* bases */
/* mapas */
/* menu de todos los html */
.nav {
  grid-area: men;
  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-between;
  justify-content: center; }

.nav > ul {
  display: flex;
  list-style-type: none;
  width: 40%;
  justify-content: space-evenly; }

.nav > ul > li {
  font-size: 1.5rem;
  font-weight: 500;
  color: #d1d1d1; }

.nav > ul > li > a {
  text-decoration: none;
  color: #d1d1d1;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.1rem; }
  .nav > ul > li > a:hover {
    background-color: #7c7b7b; }

.subMenu {
  position: absolute;
  background-color: #7c7b7b;
  display: none;
  list-style: none; }
  .subMenu li a {
    display: block;
    padding: 0.5rem;
    color: #d1d1d1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    text-align: center; }

.nav li:hover .subMenu {
  display: block; }

/* mapas */
/* mediaqueries */
/* mediaqueries celular */
@media screen and (max-width: 360px) {
  /* menu / index mediaqueries  */
  .nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center; }
  .nav > ul {
    width: 100%; }
  .nav > ul > li > a {
    margin: 1rem; }
  .nav span a {
    font-size: 3rem; }
  .imagenes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem; }
    .imagenes img {
      width: 100%;
      height: 100%; }
  .contenido p {
    font-size: 1.5rem;
    text-align: center; }
  .contenido video {
    height: 80%;
    width: 80%; }
  /* NOSOTROS HTML MEDIAQUERIES */
  .containerNosotros .aboutUsUno .aboutUs {
    font-size: 4rem;
    margin-top: 2.5rem; }
  .containerNosotros .aboutUsUno .parrafoNosotros {
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    width: 90%;
    margin-left: 1rem; }
    .containerNosotros .aboutUsUno .parrafoNosotros span {
      font-size: 1.2rem; }
  .containerNosotros .prendas h3 {
    font-size: 3rem; }
  .containerNosotros .prendas p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    width: 90%;
    margin: 1rem; }
  .containerNosotros .tabla h3 {
    font-size: 3rem; }
  .containerNosotros .tabla img {
    width: 80%;
    height: 80%; }
  /* PRODUCTOS MEDIAQUERIES */
  .containerProductos h2 {
    font-size: 4rem;
    text-align: center; }
  .containerProductos .stockPadre {
    width: 50%;
    display: flex;
    justify-self: center; }
  /* LOCALES MEDIAQUERIES */
  .containerLocales .tituloLocales h2 {
    font-size: 4.5rem; }
  .containerLocales .nombresLocales .localUno p {
    font-size: 2.8rem; }
  /* FAQS MEDIAQUERIES */
  .containerFaqs .faqs h2 {
    font-size: 5.5rem; }
  .containerFaqs .faqsContainer .faqsPregunta {
    font-size: 3rem;
    font-style: italic; }
  .containerFaqs .faqsContainer .faqsUno {
    font-size: 0.5rem; }
  .containerFaqs .faqsDos .faqsPolicy {
    font-size: 5rem;
    font-style: italic; }
  .containerFaqs .faqsDos .faqsParrafo {
    font-size: 0.5rem; } }

/* mediaqueries tablet */
@media screen and (max-width: 600px) {
  /* MENU/INDEX MEDIAQUERIE */
  .nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .nav > ul {
    width: 100%; }
  .nav > ul > li > a {
    margin: 1rem; }
  .nav span a {
    font-size: 6rem; }
  .imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  /* MEDIAQUERIE DE PRODUCTOS */
  .containerProductos .rowProductos {
    flex-direction: column;
    align-items: center; }
  .containerProductos .stockPadre {
    width: 50%;
    display: flex;
    justify-self: center; }
  /* NOSOTROS MEDIAQUERIE */
  .containerNosotros .aboutUsUno .aboutUs {
    font-size: 6rem;
    font-style: italic; }
  .containerNosotros .aboutUsUno .parrafoNosotros {
    font-size: 1.5rem;
    font-weight: 600; }
    .containerNosotros .aboutUsUno .parrafoNosotros span {
      font-size: 1.8rem; }
  .containerNosotros .prendas h3 {
    font-size: 6rem;
    font-style: italic;
    margin: 1rem; }
  .containerNosotros .prendas p {
    font-size: 2rem;
    font-weight: 600; }
  .containerNosotros .tabla h3 {
    font-size: 6rem;
    font-style: italic;
    margin: 1rem; }
  .containerNosotros .tabla img {
    width: 80%;
    height: 80%; }
  /* locales mediaquerie */
  .containerLocales .tituloLocales h2 {
    font-size: 6rem;
    font-style: italic; }
  .containerLocales .nombresLocales .localUno p {
    font-size: 2rem; }
  /* FAQS MEDIAQUERIE */
  .containerFaqs .faqs h2 {
    font-size: 8rem;
    font-style: italic; }
  .containerFaqs .faqsContainer .faqsPregunta {
    font-size: 3rem;
    font-style: italic; }
  .containerFaqs .faqsContainer .faqsUno {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600; }
  .containerFaqs .faqsDos .faqsPolicy {
    font-size: 6.5rem;
    font-style: italic; }
  .containerFaqs .faqsDos .faqsParrafo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600; } }

/* mediaqueries desktop */
@media screen and (max-width: 991px) {
  /* MENU/INDEX MEDIAQUERIE */
  .nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .nav > ul {
    width: 100%; }
  .nav > ul > li > a {
    margin: 1rem; }
  .nav span a {
    font-size: 10rem; }
  .imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  /* PRODUCTOS MEDIAQUERIE */
  .containerProductos .stockPadre {
    width: 50%;
    display: flex;
    justify-self: center;
    justify-content: center; } }
