@import "../base/variables";
@import "../base/mixins";
@import "../base/extends";

/*FOOTER */
.footer{
    grid-area: footer;
    margin: 2rem;
    span{
        @extend %flex;
        font-size: 1.2rem;
        color: $color-principal;
        font-family: 'Bebas Neue', cursive;
    }
    .instagram{
        @extend %flex;
        align-content: center;
        margin: 0rem 0rem 5rem 0rem;
        img{
            @include sizes (3rem,3rem);
        }
    }
    .itemFixed{
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .itemFixedDos{
        position: fixed;
        bottom: 0;
        left: 0;
    }
}
