/* base*/
@import "../base/operaciones";
@import "../base/variables";
@import "../base/mixins";


/*grid de index */
.container{
    display: grid;
    min-height: $alturaprincipal - 300vh;
    grid-template-areas:
    "h1"
    "men"
    "carrusel"
    "imagenes"
    "contenido"
    "footer";
    grid-template-rows: auto auto auto auto auto auto ;
    header{
        grid-area: h1;
    }
    nav{
        grid-area: men;
    }
    /* CARRUSEL */
.containerCarrusel{
    grid-area: carrusel;
    margin: 2rem 3rem;
    .carousel-item{
        .imagenesProductosUno{
            @include sizes (25rem,35rem);
        }
    }
}
/*  IMAGENES */
.imagenes{
    grid-area: imagenes;
    div{
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                @include sizes (45%,60%);
        }
        }
    }
}

/* CONTENIDO */

.contenido{
    grid-area: contenido;
    div{
            p{
                font-family: 'Bebas Neue', cursive;
                text-align: center;
                font-size: 3rem;
                color: $color-principal;
                margin-top: 3rem
            }
        }
        div{
            @extend %flex;
                align-items: center;
            .video{
                height: 20rem;
                width: 25rem;
                margin-top: 3rem;
            }
    }
}
.footer{
    grid-area: footer;
}
}
