/* bases */ 
@import "../base/variables";
@import "../base/mapas";


/* menu de todos los html */ 
.nav{
    grid-area: men;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.nav > ul{
    display: flex;
    list-style-type: none;
    width: 40%;
    justify-content: space-evenly;
    padding-left: 0;
    
}
.nav > ul > li{
        font-size: 1.5rem;
        font-weight: 500;
        color: $color-principal;
}
.nav > ul > li > a {
    text-decoration: none;
    color: $color-principal;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    
    &:hover{
        color: white;
    }
    
}
